@use "sass:map";

$color-scheme: (
  "background": #021205,
  "background-alt": #010702,
  "text": #fff6e0,
  "primary": #a9eac4,
  "secondary": #01322a,
  "accent": #d2a21e,
  "panel-blue": #2f6fcf,
);

$fallback-font:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;

::-webkit-scrollbar {
  background: var(--background-alt);
  width: 12px;
  // &-button {
  //   background: var(--background-alt);
  // }
  // &-corner
  &-thumb {
    background: var(--secondary);
    /* [1 Million pixels!](https://www.youtube.com/watch?v=EJR1H5tf5wE) */
    /* sadly I had to turn it off :(
     * they will never know the joy of 1 million pixel border radius */
    // border-radius: 1000000px;
    &:hover {
      background: #03463b;
    }
    &:active {
      background: #012721;
    }
  }
  // &-track
  // &-track-piece
}
:root {
  font-family: "Kanit";

  @each $name, $color in $color-scheme {
    --#{$name}: #{$color};
  }

  --sans: "Kanit", "Ubuntu", $fallback-font;
  --mono: "Overpass Mono", "Overpass Mono Fallback";
  --disp: "DM Serif Display";
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  font-size: 1.25em;
  margin: 0;
  //! MUY IMPORTANTE
  // Stops overflow content from breaking shit
  overflow-x: hidden;
  position: relative;
}
#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  gap: 50px;
  .quote {
    .wrap-around {
      shape-outside: margin-box;
      width: 60%;
      max-width: 500px;
      float: left;
      &.right { float: right; }
      font-size: 1.25em;
      color: var(--accent);
      text-align: center;
      margin: 0 1em;
      @media (max-aspect-ratio: 3/4) {
        float: unset;
        max-width: unset;
        width: unset;
        margin-bottom: 0.5em;
      }
    }
    p { margin: 0; }
    text-align: justify;
    @media (min-aspect-ratio: 3/4) {
      // border: 2px solid var(--text);
      // padding: 10px;
      // background-color: var(--secondary);
    }
  }
}

// Bootstrap style class modifiers
.c0 {
  color: var(--text, map.get($color-scheme, "text"));
}
.c1 {
  color: var(--primary, map.get($color-scheme, "primary"));
}
.c2 {
  color: var(--accent, map.get($color-scheme, "accent"));
}
.c3 {
  color: var(--panel-blue, map.get($color-scheme, "panel-blue"));
}

.sb {
  font-weight: bold !important;
}
.si {
  font-style: italic !important;
}
.sr {
  font-weight: normal;
  font-style: normal;
}

.f0 {
  font-family: var(--sans);
}
.f1 {
  font-family: var(--mono);
}
.f2 {
  font-family: var(--disp);
}

// Default per-tag styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  margin: 0.25em 0;
  font-weight: normal;
}
p {
  font-size: 24px;
}
a {
  color: var(--panel-blue);
  font-style: italic;
}
@media (max-aspect-ratio: 3/4) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 10vw;
  }
}
