@use "sass:map";

$color-scheme: (
  "background": #021205,
  "background-alt": #1E1D02,
  "text": #FFF6E0,
  "primary": #A9EAC4,
  "secondary": #01322A,
  "accent": #D2A21E,
  "panel-blue": #2F6FCF,
);

:root {
  --font: "Inter Variable";
  font-family: var(--font);

  @each $name, $color in $color-scheme {
    --#{$name}: #{$color};
  }
}

html, body {
  background-color: var(--background);
  color: var(--text);
}
