:root {
  --font: "Inter Variable", sans-serif;
  font-family: var(--font);
}

html, body {
  background-color: var(--bg-0);
  color: var(--tx-0);
}

:root {
  @media (prefers-color-scheme: dark) {
    --bg-0: black;
    --tx-0: white;
  }
  @media (prefers-color-scheme: light) {
    --bg-0: white;
    --tx-0: black;
  }
}
